<!DOCTYPE html>
<head>
<title>Flight Selection</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
</head>
<body>
<div class=page>
  <form id='flightselect' method='post' action='predict' >
  <select name="carrier" form='flightselect'>
    {{opt_carrier|safe}}
  </select>
  <select name="year" form='flightselect'>
    {{opt_year|safe}}
  </select>
  <select name="month" form='flightselect'>
    {{opt_month|safe}}
  </select>
  <select name="day" form='flightselect'>
    {{opt_day|safe}}
  </select>
  <select name="origin" form='flightselect'>
    {{opt_origin|safe}}
  </select>
  <select name="destination" form='flightselect'>
    {{opt_destination|safe}}
  </select>
  <select name="hour" form='flightselect'>
    {{opt_hour|safe}}
  </select>
  <select name="minute" form='flightselect'>
    {{opt_minute|safe}}
  </select>
  <input type="submit" value="Submit">
</form>
</div>
<p style="background-color:#d1efef;padding: 10%" >
    The flight: <br />
    {{flight}} <hr />
    Is predicted {{Prediction}}

</p>
</body>
